.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 20px; /* Adjust this value to your preference */
  font-size: 48px;
}
